---
---

//
// IMPORTS
//

//@import "reset";
//@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/


hr.style-two {
  // display: block;
  // margin: 1em 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  width: 100%;
}

// hr {
//   display: block;
//   margin: 1em 0;
//   border: 0;
//   border-top: 1.2px solid #f2f3f3;
// }

.shadowImage {
  -webkit-filter: drop-shadow(2px 8px 6px #bbb);
  filter: drop-shadow(2px 8px 6px #bbb);
}

.shadowRoundImage {
  -webkit-filter: drop-shadow(2px 8px 6px #ccc);
  filter: drop-shadow(2px 8px 6px #ccc);
  border-radius: 14px;
}

.roundBorder {
  border: 1.2px solid rgb(70, 70, 70);
  padding: 5px;
  border-radius: 14px;
  box-shadow: 1.2px 1.2px #bbbbbb;
}

.videoDiv {
  border-radius: 16px 16px 24px 24px; 
  overflow: hidden; 
  // height: 340px;
  width: 600px;
  border: 0px solid rgb(80, 80, 80);   
  display: block;
  margin: 0 auto;
  -webkit-filter: drop-shadow(2px 8px 6px #ccc);
  filter: drop-shadow(2px 8px 6px #ccc);
}
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-display: auto;
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

ul.news {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: normal;
  font-display: auto;
  list-style-type: none;
  // list-style-type: circle;
  border-left: 16px solid rgb(220, 60, 60);
  border-top: 2px solid rgb(220, 60, 60);
  border-bottom: 2px solid rgb(220, 60, 60);
  border-right: 2px solid rgb(220, 60, 60);


  background-color: #f1f1f1;
  padding: 8px 16px;
  margin-left: 2.5%;
  margin-right: 2.5%;

  -webkit-filter: drop-shadow(2px 8px 6px #ccc);
  filter: drop-shadow(2px 8px 6px #ccc);
  border-radius: 12px;
}

li.indent{
  margin: 0.6% 0;
  margin-left: 5.4em;
  text-indent: -5.4em;
}

li.margin{
  margin: 2% 0;
}


body,
td,
th,
tr,
p,
a
{
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: normal;
  font-display: auto;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: normal;
  font-display: auto;
}

h2 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 1.6em;
  font-display: auto;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  display:inline;
}

h3 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  font-display: auto;
  padding: 0%;
  margin: 0%;
  display: inline; 
}

h1 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: normal;
  font-display: auto;
  text-align: center;
  padding: 0%;
  margin-block-start: normal;
  margin-block-end: normal;
  margin-left: 0%;
  margin-right: 0%;

}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";

hr.style-seven {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: rgba(0.8, 0.8, 0.8, 0.6);
  border-width: 1px 0 0 0;
  border-radius: 30px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: rgba(0.8, 0.8, 0.8, 0.6);
  border-width: 0 0 1px 0;
  border-radius: 30px;
}
